/* add your CSS here */
#fact {
	font-style: italic;
} 
.animal_list {
	font-weight: bold;

}
ul {
	list-style-type: none;
}
.outer_div {
	border: 1px solid black;
	padding: 10px;
	box-shadow: 5px 5px  5px #ccc;

	
}

.inner_div {
	border: 1px solid black;
	padding: 10px;
}
img {
	width: 300px;
	height: 200px;
	padding-bottom: 10px;
}
body {
	width: 320px;
	height: 200px;	
	padding: 10px;
}